@model IEnumerable<Otzar_HaSefarim.Models.ShelfModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h3>Shelf</h3>
<h3>@ViewBag.LibraryId</h3>
<p>
    @Html.ActionLink("Create New Shelf", "Create", "Shelf", new { LibraryId = ViewBag.LibraryId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibraryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibraryId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                @Html.ActionLink("Sets", "Index", "Set", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
